.containerr {
  display: flex;
  flex-flow: column;
  border: 0px solid rgb(0, 0, 255);
  align-items: center;
  font-family: tipo_letra3;
  font-size: 1.5rem;
  color: orange;
  scroll-behavior: smooth;
  height: 100vh;
  /* min-height: 100vh; */
}
.seccion {
  display: flex;
  flex-flow: row;
  justify-content: center;
  border: 0px solid rebeccapurple !important;
  scroll-behavior: smooth;
  min-height: 85%;
  width: 100%;
  /* padding: 5rem;   */
  align-content: center;
  align-items: center;
}
.seccion1 {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: 60vh;
  justify-content: center;
  border: 0px solid rebeccapurple;
  margin: 2rem;
  /* background: rgba(247, 190, 84, 0.653); */
  border-radius: 1rem;
  padding: 1rem;
}
.seccion2 {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 40%;
  height: max-content;
  justify-content: center;
  border: 0px solid rebeccapurple;
  margin: 2rem;
  /* background: rgba(11, 184, 11, 0.72); */
  border-radius: 1rem;
  padding: 1rem;
}
.contenido {
  display: flex;
  flex-flow: column;
  width: 35%;
  height: 13rem;
  border: 0px solid red;
  margin: 1rem;


  text-decoration: none;
  color: rgb(19, 9, 72);
  font-family: tipo_letra9;
  font-size: 2rem;
  text-align: left;
}
.contenido:hover{
  color:#036570;
  /* text-decoration:underline; */
}

.card1 {
  width: 100%;
  height:100%;
  border-radius: 1rem;
  /* background-image: url(../Imagenes/img_Publicidad/anuncio3.jpg)  ; */
  background-image: url(/src\assets\Proyecto\iconos\45.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0px solid red;
}

.card2 {
  width: 120%;
  height: 350vh;
  border-radius: 1rem;
  /* background-image: url(../Imagenes/img_Publicidad/anuncio3.jpg)  ; */
  background-image: url(/src\assets\Proyecto\iconos\43.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 0px solid red;
}
.card3 {
    width: 120%;
  height: 350vh;
  border-radius: 1rem;
  /* background-image: url(../Imagenes/img_Publicidad/anuncio3.jpg)  ; */
  background-image: url(/src\assets\Proyecto\iconos\46.png);

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border: 0px solid red;
}

.card4 {
  width: 60%;
  height: 30vh;
  border-radius: 1rem;
  /* background-image: url(../Imagenes/img_Publicidad/anuncio3.jpg)  ; */
  background-image: url(/src\assets\Proyecto\iconos\47.png);

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border: 0px solid red;
}

.card5 {
  width: 50%;
  height: 20vh;
  border-radius: 1rem;
  /* background-image: url(../Imagenes/img_Publicidad/anuncio3.jpg)  ; */
  background-image: url(/src\assets\Proyecto\iconos\49.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border: 0px solid red;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

/* .content h2, a{
  color:rgb(255, 255, 255, .8);
}  */

.card1:hover .content1 {
  opacity: 1;
  /* background-color: rgba(255, 255, 255, 0.548); */
  transform: scale(1.2);
}
.card1:hover {
  opacity: 1;
  /* background-color: rgba(255, 255, 255, 0.548); */
  transform: scale(1.2);
}

.card2:hover .content2 {
  opacity: 1;
  transform: scale(1.2);
}
.card2:hover {
  opacity: 1;
  /* background-color: rgba(255, 255, 255, 0.548); */
  transform: scale(1.2);
}

.card3:hover .content3 {
  opacity: 1;
  /* background-color: rgba(255, 255, 255, 0.548); */
  transform: scale(1.2);
}
.card3:hover {
  opacity: 1;
  /* background-color: rgba(255, 255, 255, 0.548); */
  transform: scale(1.2);
}

.card4:hover {
  opacity: 1;
  /* background-color: rgba(255, 255, 255, 0.548); */
  transform: scale(1.2);
}
.card4:hover .content4 {
  opacity: 1;
  transform: scale(1.2);
}

.card5:hover .content5 {
  opacity: 1;
  /* background-color: rgba(255, 255, 255, 0.548); */
  transform: scale(1.2);
}
.card5:hover {
  opacity: 1;
  /* background-color: rgba(255, 255, 255, 0.548); */
  transform: scale(1.2);
}
.cerrar {
  display: flex;
  width: 3rem;
  height: 3rem;
  border-radius: 0rem;
  margin-top: 0rem;
  border: 0px solid yellow;
  background-image: url(/src\assets\Proyecto\iconos\28.png);
  /* background-color: white; */
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 23%;
}

.container-body {
  display: flex;
  flex-flow: column;
  /* background-image: url(../Imagenes/p.png); */
  background-size: cover;
  background-repeat: no-repeat;
  border: 0px solid rgb(64, 243, 14);

  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;
}

.containe-body {
  border: 00px solid yellow;
  min-height: 100vh;
}
main {
  /* border:10px solid yellow; */
  /* overflow: hidden; */
}

#dos {
  display: flex;
  background: #025159;
  margin-top: 3.5vh;
  border: 0px solid rebeccapurple;
  justify-content: right;
  padding: 0rem;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
}
.usuario {
  background: white;
  height: 3rem;
  border-radius: 1rem;
  width: 25%;
  padding: 0.5rem;
  font-family: tipo_letra4;
  margin-right: 3rem;

  text-align: center;
}
.aprendiz {
  background: white;
  height: 3rem;
  border-radius: 1rem;
  width: 25%;
  font-family: tipo_letra4;
  margin-right: 5rem;
  padding: 0.5rem;
  text-align: center;
}
.aprendiz:hover {
  color: white;
  background: #1d1b31;
}
.usuario:hover {
  color: white;
  background: #1d1b31;
}

.icons1 {
  display: flex;
  width: 5rem;
  height: 4rem;
  border: 0px solid yellow;
  background-image: url(/src\assets\Proyecto\iconos\6.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.icons2 {
  display: flex;
  width: 5rem;
  height: 4rem;
  border: 0px solid yellow;
  background-image: url(/src\assets\Proyecto\iconos\16.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#nav2 {
  /* display: flex;
  flex-flow: column; */
  height: 7rem;
  background: #1d1b31;
  font-family: tipo_letra;
  color: red;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}
.foto {
  display: flex;
  width: 10rem;
  height: 10rem;
  border: 5px solid #1d1b31;
  background-image: url(/src\assets\Proyecto\Imagenes\perfil.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2rem;

}
.foto input{
  border: 2px solid darkblue;
  border-radius: 1rem;
  display: flex;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#contain1 {
  background: rgba(51, 184, 229, 0.55);
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}
#contain2 {
  display: flex;
  flex-flow: column;
  background: white;
  min-height: 100vh;
  padding: 0%;
}
.profile {
  display: flex;
  flex-flow: column;
  width: 50%;
  font-family: tipo_letra;
  border: 0px solid red;
  margin: 4rem;
}
.pho{
  position: absolute;
  right: 5px;
  border: 2px solid red;
  justify-content: center;
  justify-items: center;
}

#contai {
  scroll-behavior: smooth;
  border: 10px solid rgba(45, 215, 248, 0.72);
}

video {
  position: fixed;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.na {
  border: 2px solid gold;
  width: 20rem;
  height: 10rem;
}

#img {
  margin-top: 0.5rem;
  width: 12rem;
  height: 11rem;
  border-radius: 1.5rem 0 1.5rem 0;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: 0px 0px 5px 0px #8a8a8a;
  border: 5px solid rgb(205, 11, 11);
  z-index: 111;
}

.div {
  border: 1px solid red !important;
  width: 20rem;
  height: 20rem;
}

@media (max-width: 1500px) {
  .seccion {
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: 0px solid rebeccapurple !important;
    scroll-behavior: smooth;
    /* height: 10rem; */
    width: 100%;
    padding: 0rem !important;
  }

  .seccion1 {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: fit-content;
    justify-content: center;
    border: 0px solid rgb(53, 153, 51);
    /* background: rgba(247, 190, 84, 0.653); */
    border-radius: 1rem;
  }
  .seccion2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 40%;
    height: max-content;
    justify-content: center;
    border: 0px solid rgb(153, 68, 51);
    /* background: rgba(11, 184, 11, 0.72); */
    border-radius: 1rem;
  }
  .contenido {
    display: flex;
    flex-flow: column;
    width: 32%;
    height: 10rem;
    border: 0px solid red;
  
    text-decoration: none;
    color: rgb(19, 9, 72);
    font-family: tipo_letra9;
    font-size: 1.5rem;
    text-align: left;
  }

  .card1 {
    width: 80%;
    height: 30vh;
    border-radius: 1rem;
    /* background-image: url(../Imagenes/img_Publicidad/anuncio3.jpg)  ; */
    background-image: url(/src\assets\Proyecto\iconos\45.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: 0px solid red;
  }

  .card2 {
    width: 80%;
    height: 30vh;
    border-radius: 1rem;
    /* background-image: url(../Imagenes/img_Publicidad/anuncio3.jpg)  ; */
    background-image: url(/src\assets\Proyecto\iconos\43.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: 0px solid red;
  }
  .card3 {
    width: 80%;
    height: 30vh;
    border-radius: 1rem;
    /* background-image: url(../Imagenes/img_Publicidad/anuncio3.jpg)  ; */
    background-image: url(/src\assets\Proyecto\iconos\46.png);

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: 0px solid red;
  }

  .card4 {
    width: 60%;
    height: 30vh;
    border-radius: 1rem;
    /* background-image: url(../Imagenes/img_Publicidad/anuncio3.jpg)  ; */
    background-image: url(/src\assets\Proyecto\iconos\47.png);

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: 0px solid red;
  }

  .card5 {
    width: 50%;
    height: 20vh;
    border-radius: 1rem;
    /* background-image: url(../Imagenes/img_Publicidad/anuncio3.jpg)  ; */
    background-image: url(/src\assets\Proyecto\iconos\49.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: 0px solid red;
  }
}
@media (max-width: 800px) {
}
