.body{
  display: flex;
  flex-flow: column;
border: 0px solid red;
top: 2rem;

}
.inicio{
  display: flex;
  flex-flow: column;
  height: 100vh;
}
nav{
  position: sticky;
  z-index: 11;
  top: 0;
}
.container-body {
  display: flex;
  justify-content: center;
  border: 0px solid yellow;
  scroll-behavior: smooth;
}
.container-main {
  display: flex;
  flex-flow: column;
  max-width: 90%;
  align-items: center;
  min-height: 35vh;
  border: 0px solid rgb(0, 255, 238);
  padding: 0rem;
  scroll-behavior: smooth;
  /* overflow: scroll; */
}
.articulos{
  display: flex;
}

.diseño{
  border:  0px solid #1d1b31;
  width: 100%;
  height: 1rem;
  display:flex ;
  background-color:#1d1b31 ; 
}
.div {
  justify-content: center;
  display: flex;
}
.container-footer {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  border: 0px solid rgb(30, 255, 0);
  padding: 1rem;
  scroll-behavior: smooth;
  font-family: tipo_letra13;
  /* overflow: scroll; */
  /* background-image: url(../Imagenes/img5.png); */
  /* background-color: white; */
  background-position: fixed;
  color: black;
}


#himno {
}
#mision-vision {
}
#slider1 {
  width: 100%;
  height: 40vh;
  border: 0px solid rgb(73, 70, 70);
  border-radius: 0rem;
  /* background-image: url(../Imagenes/img_Publicidad/anuncio3.jpg)  ; */
  /* background-image: url(../Imagenes/gif2.gif)  ; */
  background-size: contain;
  box-shadow: 3px 5px 5px black;
  color: white;
  overflow: hidden;
  margin-bottom: 1rem;
}

/*////////////////////SCROLLL BUTTON//////////7/////////*/

#slider2 {
  border: 0px solid yellow;
  /* width: 50vw; */
  scroll-behavior: smooth;
  overflow: hidden;
  height: 100vh;
}



.scroll {
  display: flex;
  width: 4rem;
  height: 4rem;
  border: 1px solid red;
  opacity: 0.4;
}

.scroll:hover{
  opacity: 1;
}
.prev{
  background-image: url(/src\assets\Proyecto\iconos\39.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  top: 50vh;
  z-index: 1;
  border: 0px solid rgb(43, 255, 0);

}
.next{
  background-image: url(/src\assets\Proyecto\iconos\38.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  top: 60vh;
  z-index: 1;
  border: 0px solid rgb(38, 0, 255);
}
.todo{
  display: flex;
  width: 2rem;
  height: 2rem;
  background-image: url(/src\assets\Proyecto\iconos\37.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: 0px solid rgb(0, 242, 255);
  margin-inline: 50vw;
  margin-top: 1rem;
}
.todo:hover{
  border-radius: 100%;
}

#slash{
  display: flex;
  width: 4rem;
  height: 4rem;
  background-image: url(/src\assets\Proyecto\iconos\35.png);
  transform: rotate(180deg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 0px solid rgb(0, 242, 255);
  margin-inline: 50vw;


}

#slash:hover{
  /* animation: scale2 1s  ease; */
  

}

/* video{
z-index: -1;
position: absolute;
height: 117%;
} */



/*///////////////////ANIMACIONES//////////7/////////*/

/*/////BOTONES///////*/


  @keyframes scale {
    0% {
      transform: rotate(99deg) ;
      
    }
    100% {
      transform: rotate(0,1) ;
      
    }
  }


/*/////DESPLAZAR///////*/


@keyframes scale2 {
  0% {
    transform: rotate(99deg) ;
    float: right;
    
  }
  100% {
    transform: rotate(0,1) ;
    
  }
}

/*////////////////////////////////////7/////////*/

/*////////////////////////////////////7/////////*/

.content {
  display: flex;
  width: 400%;
  height: 100%;
  border-radius: 0rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-size: contain;
  transition: 0.5s;
  border: 0px solid red;
  animation: cambio 18s infinite alternate;
  animation-timing-function: ease-in;
  scroll-behavior: smooth;
}

.photo1 {
  width: 100%;
  height: 100%;
  border: 0px solid green;
  background-size: contain;
  background-image: url(/src\assets\Proyecto\Imagenes\imagen2.jpg);
}
.photo2 {
  width: 100%;
  height: 100%;
  border: 0px solid green;
  background-image: url(/src\assets\Proyecto\Imagenes\gg.jpg);
  /* background-repeat: no-repeat; */
  background-size: contain ;
}
.photo3 {
  width: 100%;
  height: 100%;
  border: 0px solid green;
  background-size: contain;
  background-image: url(/src\assets\Proyecto\Imagenes\IMG_20221112_113131_00_merged.jpg);
}
.photo4 {
  width: 100%;
  height: 100%;
  border: 0px solid green;
  background-size: contain;
  background-image: url(/src\assets\Proyecto\Imagenes\p.png);
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }

  30% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }

  60% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  90% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.slider:hover .content {
  transform: scale(1.2);
}

article {
  display: flex;
  flex-flow: column;
  max-height: 20rem;
  max-width: 30%;
  margin-inline: 0rem;
  border: 0px solid rgb(34, 255, 0);
  border-radius: 0rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 0.5rem;
  font-family: tipo_letra17;
  /* font-size: 0.5rem; */

}
article:hover {
  background: #1d1b314b;
  /* animation: scale 1s  ease; */

  scroll-behavior: smooth;
}
article h1 {
  color: #1d1b31;
  font-family: tipo_letra2;
}
article:hover #button {
  color: white;
  opacity: 1;
}

article:hover h1 {
  /* color: white; */
}
.tex {
  display: flex !important;
  align-items: center;
  justify-content: center !important;
  position: absolute !important; 
  color: black;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(3px);
  width: 50%;
  height: 10rem;
  border-radius: 0.5rem;
  font-family: tipo_letra2;
  top: 20%;
}

#boton-inicio{
  display: flex;
  height: 3rem;
  border: 0px solid rgb(235, 205, 8);
  position: absolute;
  z-index: 11;
  align-content: left;
  width: 100vw;
}
.home{
  background-image: url(/src\assets\Proyecto\iconos\25.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  width: 4rem;
  height: 4rem;
}
.home:hover{
transform: scale(1.2);  
}
.btn:hover{
  transform: scale(1.2);
}

.tex h1 {
  /* -webkit-box-shadow:inset 11px 11px 11px 11px rgba(12,12,12,12);
  box-shadow:inset 11px 11px 11px 11px rgba(12,12,12,12); */
  
}

.logo {
  border: 5px solid green;
  background-size: 5rem;
  background-image: url(/src\assets\Proyecto\iconos\23.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 50%;
  min-height: 5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.texto {
  display: flex;
  justify-content: center;
  border: 0px solid rebeccapurple;
  width: 90%;
  height: 7rem;
}
#button {
  width: 50%;
  height: 2rem;
  font-family: tipo_letra;
  opacity: 0;
  background:#036570;
}
#button:hover {
  opacity: 1;
}

.collapse {
  display: flex;
  border: 0px solid yellow;
  height: 100vh;
}

iframe {
  width: 100%;
  height: 60vh;
  border: 0px solid yellow;
}
#boton-descarga {
  display: flex;
  width: 6rem;
  height: 4rem;
  border: 0px solid yellow;
  background-image: url(/src\assets\Proyecto\iconos\30.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#boton-cerrar {
  display: flex;
  width: 6rem;
  height: 4rem;
  border: 0px solid yellow;
  background-image: url(/src\assets\Proyecto\iconos\32.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#boton-link {
  display: flex;
  width: 6rem;
  height: 4rem;
  border: 0px solid yellow;
  background-image: url(/src\assets\Proyecto\iconos\33.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#boton-link:hover {
  /* -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear; */

    -moz-transform: scale(2) rotate(360deg) translateX(1px) translateY(1px)
      skewX(180deg) skewY(360deg);
    -webkit-transform: scale(2) rotate(360deg) translateX(1px) translateY(1px)
      skewX(180deg) skewY(360deg);
    -o-transform: scale(2) rotate(360deg) translateX(1px) translateY(1px)
      skewX(180deg) skewY(360deg);
    -ms-transform: scale(2) rotate(360deg) translateX(1px) translateY(1px)
      skewX(180deg) skewY(360deg);
    transform: scale(2) rotate(360deg) translateX(1px) translateY(1px)
      skewX(180deg) skewY(360deg);

      animation: scale 1s ease;
}

#modal {
  /* border: 5px solid black; */
  font-size: 2rem;
  border-radius: 2rem;

  /* right: 10%; */
  /* max-width: 40vw; */
}
#modal2 {
  border: 0px solid rgb(54, 153, 51);
  font-size: 2rem;
  border-radius: 2rem;
  background: beige;
  /* display: flex; */
  /* width: 150%; */
  /* align-content:flex-end; */
}

.titulo1 {
  font-family: tipo_letra;
  color: #036570;
  text-align: center;
}
.titulo {
  font-family: tipo_letra4;
  color: orange;
  text-align: center;
}
.titulo2 {
  font-family: tipo_letra4;
  color: orange;
}
.img {
  align-self: center;
  border-radius: 8rem;
  width: 40%;
  height: 20rem;
  border: 0px solid red;
  background-size: cover;
  background-image: url(/src\assets\Proyecto\Imagenes\imagen2.jpg);
}

.img2 {
  align-self: center;
  border-radius: 10rem;
  width: 20%;
  height: 15rem;
  border: 0px solid red;
  background-size: cover;
  background-image: url(/src\assets\Proyecto\Imagenes\SENA.png);
}
.img3 {
  align-self: center;
  border-radius: 10rem;
  width: 20%;
  height: 15rem;
  border: 0px solid red;
  background-size: cover;
  margin: 3rem;
  background-image: url(/src\assets\Proyecto\Imagenes\aprendiz.png);
}

@media (max-width: 1500px) {
  .container-body {
    border: 0px solid rebeccapurple; 
    /* height: 30vh; */
  }
  #slider1{
    height: 35vh;
  }
  .container-main{
    border: 00px solid red;
    /* height: 20vh; */
  }
  .titulo1 h1{
    border: 0px solid red;
    font-size: 1.5rem;
  }
  
  
article {
  display: flex;
  flex-flow: column;
  max-height: fit-content;
  max-width: fit-content;
  margin-inline: 0rem;
  border: 0px solid rgb(34, 255, 0);
  border-radius: 0rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 0.5rem;
  font-family: tipo_letra17;
  /* font-size: 0.5rem; */
}
article h1{
  font-size: 2rem;
}
.texto{
  border: 0px solid red;
  font-size: .7rem;
  width: fit-content;
  height: fit-content;
}
.logo{
  width: 5rem;
  height: 2rem;
}
.container-footer {
  border: 00px solid rgb(30, 255, 0);
 
}

}
@media (max-width: 800px) {
.container-main{
  border: 00px solid rgb(235, 205, 8);
  flex-wrap: wrap;
  overflow: scroll;
}
.articulos{
  border: 0px solid rebeccapurple;
  width: 200%;
}
article{
width: 40rem;
border: 0px solid red;
height: 100%;
}
.diseño{
  display: none;
}
#button{
  opacity: 1;
  color:#036570 !important;
  border: 2px solid rgb(0, 26, 128);
  background: none;
}
.titulo{
  display: flex;
}

}