::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
/*G/////////////////TEST////////////////*/
/*G/////////////////TEST////////////////*/
#TEST {
  display: flex;
  flex-flow: column;
  border: 10px solid yellow;
  color: var(--color-text);
  background-color: var(--bg-color);
  /* display: none; */
min-height: 50vh !important;
overflow: scroll;
font-family: tipo_letra;
  /* width: 100vw; */
}

/*G/////////////////TEST////////////////*/
/*G/////////////////TEST////////////////*/

.titulo {
  color: blue;
  font-family: tipo_letra9;
  font-size: 5rem;
  margin: 0;
}
#blog {
  display: flex;
  flex-flow: column;
  border: 0px solid rgb(0, 255, 13);
  width: auto;
  height: 50%;

  /* padding:  3rem; */
  /* backdrop-filter: blur(5px) brightness(140%);  */
  /* text-shadow: -4px 10px 5px rgba(0,0,0,0.44); */
  font-family: tipo_letra13;
  /* font-size: 2rem; */
}

#blog span {
  /* display: flex; */
  border: 0px solid yellow;
  /* flex-flow: row; */
  /* margin-top: 15px; */
}
.container-body {
  display: flex;
  flex-flow: column;
  /* margin-left: 4.8rem; */
  border: 0px solid rgb(255, 115, 0) !important;
  align-items: center;
}
dd .pregunta {
  display: flex;
  align-content: center;
  /* border: 1px solid green; */
  border: 0px solid rgb(20, 69, 231) !important;
}

ul {
  list-style-type: disclosure-closed;
}

.ss:hover {
  background: #1c1381ab;

  cursor: pointer;
  color: white;
  border-radius: 2rem;
}

.ss {
  margin: 0.5rem;
  display: flex;
  flex-flow: row;
  width: 20%;
}
.footer {
  border: 0px solid red;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.result{
  display: flex;
  flex-flow: column;
}

#resultado{
  border: 2px solid red;
  font-family: tipo_letra;
  display: none;
}
/*G/////////////////TEST////////////////*/
/*G/////////////////TEST////////////////*/
/*G/////////////////TEST////////////////*/
/*G/////////////////TEST////////////////*/


/* :root {
  --bg-color: #303134;
  --color-text: #cad2db;
  --box-shadow: 5px 5px 5px 0 rgb(32, 33, 36, 1),
    -1px -1px 4px 0 rgb(32, 33, 36, 1);
} */





.color-hex,
.btns * {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.color-hex {
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 2rem 0 2rem 0;
}

.btns * {
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}


.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }


}

video {
  position: fixed;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}