.main {
  border: 1px solid rgb(65, 211, 16);
  display: flex;
  /* padding: 5%; */
  height: calc(100vh - 8rem);
  justify-content: right;
  background-image: url(/src\assets\Proyecto\Imagenes\img_Publicidad\anuncio2.jpg);
}

.container-main {
  display: flex;
  flex-flow: column;
  margin: 1%;

  height: 86%;
  border-radius: 2rem;
  border: 4px solid rgb(0, 1, 1);
  align-items: center;
  background: white;

  /* overflow: scroll; */
  overflow-x: hidden;
  font-size: 25px;
}
span {
  color: red;
  font-size: 15px;
}
#boton-ingresar {
  width: 100%;
  /* margin-bottom: 3rem; */
}
#form {
  display: flex;

  border: 0px solid red;
  width: 90%;
  height: auto;
  margin: 2rem;
  color: rgb(247, 131, 42);
}

.inicio {
  text-align: center;
  color: green;
  font-size: 5rem;
}
.seccion1 {
  border: 0px solid red;
  width: 50%;
  margin-right: 2rem;
}
.seccion2 {
  width: 50%;

  border: 0px solid red;
}
