@keyframes carouselAnim {
  0% {
      transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
      transform-origin: center center;
      z-index: 10;
  }

  27% {
      transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
      transform-origin: center center;
      z-index: 10;
  }

  33.33333% {
      transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8, 1);
      transform-origin: left center;
      z-index: 5;
  }

  60% {
      transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8, 1);
      transform-origin: left center;
      z-index: 5;
  }

  66.666666% {
      transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8, 1);
      transform-origin: right center;
      z-index: 5;
  }

  93% {
      transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8, 1);
      transform-origin: right center;
      z-index: 5;
  }

  100% {
      transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
      transform-origin: center center;
      z-index: 10;
  }
}

.carousel__container {
  display: flex;
  width: 100%;
  /* height: 100%; */
  max-width: 960px;
  perspective: 300px;
  perspective-origin: 50% 60%;
  min-height: 14em;
  margin: 10rem 8rem;
  /* border: 2px solid red; */
}

.carousel__item {
  position: absolute;
  margin-top: 2rem;
  width: 33%;
  padding-bottom: 19%;
  animation-name: carouselAnim;
  transform: translateX(0) rotatey(50deg);
  transform-origin: left center;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

.carousel__item:first-child {
  animation-delay: -4s;
}

.carousel__item:last-child {
  animation-delay: -8s;
}

.carousel__image {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  font-family: tipo_letra3;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}
.carousel__image:hover{
  cursor: pointer;
  background-color: rgb(137, 173, 173);
  color: blue;
  text-decoration: none;
}



.container-body{
display: flex;
  /* background-image: url(/src/assets/Proyecto/Imagenes/p.png); */
  background-size: cover;
  border: 0px solid red;
  height: 100vh;
  background: white;
  

  }

.container{
  border: 00px solid red;
}


.seccion {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid rebeccapurple; */
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}
.card {
  border: 2px solid red;
  width: 30%;
  height: 35vh;
  border-radius: 3rem;
  /* background-image: url(/src/assets/Proyecto/Imagenes/img_Publicidad/anuncio3.jpg)  ; */
  background-image: url(/src/assets/Proyecto/Imagenes/gif3.gif);
  background-size: contain;
  box-shadow: 3px 5px 5px black;
  margin: 2rem;
  top: 2rem;
  margin-bottom: 2rem !important;
}

.content {
  /* border: 2px solid green; */
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: contain;
  opacity: 0;
  transition: 0.5s;
  background-image: url(/src/assets/Proyecto/Imagenes/gif3.gif);
}

/* .link {
  text-decoration: none;
  color: rgb(33, 4, 176);
  font-family: tipo_letra7;
  font-size: 3rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.732);
} */

/* .content h2, a{
  color:rgb(255, 255, 255, .8);
}  */

.card:hover .content {
  opacity: 1;
  transform: scale(1.2);
}


#dos {
  display: flex;
  height: 20%;
  background: rgba(51, 184, 229, 0.55);
  margin-top: 0vh;
  border: 0px solid rebeccapurple;
  justify-content: right;
  padding: 0rem;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.usuario {
  background: white;
  height: 3rem;
  border-radius: 1rem;
  width: 25%;
  padding: 0.5rem;
  font-family: tipo_letra4;
  margin-right: 3rem;

  text-align: center;
}
.aprendiz {
  background: white;
  height: 3rem;
  border-radius: 1rem;
  width: 25%;
  font-family: tipo_letra4;
  margin-right: 5rem;
  padding: 0.5rem;
  text-align: center;
}
.aprendiz:hover {
  color: white;
  background: #1d1b31;
}
.usuario:hover {
  color: white;
  background: #1d1b31;
}

.icons1 {
  display: flex;
  width: 5rem;
  height: 4rem;
  border: 0px solid yellow;
  background-image: url(/src\assets\Proyecto\iconos\6.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.icons2 {
  display: flex;
  width: 5rem;
  height: 4rem;
  border: 0px solid yellow;
  background-image: url(\src\assets\Proyecto\iconos\16.png);
  background-size: contain;
  background-repeat: no-repeat;
}
