*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!" SIDEBAR !!!!!!!!!!!!!!!!!!!!!!!!!!!!!11 */
.sidebar{
  position: fixed;
    left: 0;
    height: 90%;
    width: 78px;
     background: gray;
    padding: 6px 14px;
    transition: all 0.5s ease;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    top: 5rem;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    color: rgb(163, 25, 25);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;

}
.logo_content .logo {
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar .btnn{
    /* border: 1px solid red; */
    position: absolute;
    left: 35%;
    top: 15px;
    color: #fff;
    font-size: 28px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    transform: translateX(-50);
}
.sidebar.active #btn{
    left: 80%;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    /* margin: 0 5px; */
    list-style: none;
    line-height: 50px;
    /* border: 2px solid rebeccapurple; */
    justify-content: center;
    
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform:  translate(-50% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}
a:active{
background-color: rgb(208, 239, 6) !important;}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}
.sidebar ul li #search{
    /* border: 2px solid red; */
    position: absolute;
    margin: 9px;
    z-index: 99;
    color: #fff;
    font-size: 27px;
    transition: all 0.4s ease;
}
.sidebar ul li .mge{
    padding: 15px 11px;
}
.sidebar ul li #search:hover{
    background: #fff;
    color: #1d1b31;
}
.sidebar ul li a{
    color:white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: white;
    background: #fff;
}
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}
.sidebar.active .profile_content .profile{
    background: #1d1b31;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_job{
    margin-left: 10px;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .job{
    font-size: 12px;
}
.profile #log_out{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
}
.sidebar.active .profile #log_out{
    left: 88%;
}
.sidebar.active .profile #log_out{
    background: none;
}
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #0b0b0c;
    margin: 12px;
}
.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}

