.container-body {
    border: 0px solid rgb(65, 211, 16);
    display: flex;
    flex-flow: column;
    padding: 5rem;
    /* background-image: url(/src\assets\Proyecto\Imagenes\imagen1.jpg); */
    /* background-size: contain; */
    background: rgba(51, 184, 229, 0.55);  
    
  }

  .container{
      display: flex;
      flex-flow: column;
      border: 0px solid red;
      background: rgba(255, 255, 255, 0.828);
      font-family: tipo_letra2;
      border-radius: 1rem;
      align-items: center;
      padding: 1.5rem;
     
  }

  form{
      display: flex;
      flex-flow: column;
      border: 1px solid rebeccapurple;
      width: 50%;
      margin: 2rem;
      padding: 2rem;
      background: #280f5f;
      border-radius: 3rem;
      color: white;
      font-size: 100%;
      
  }
  #resetear{
    text-align: center;
  }

  .form-control{
      font-size: 2rem;
      margin-bottom: 2rem;
  }
  #boton{
      font-size: 2rem;
      
  }

  .message{
    font-size: 30px;
    margin: 0%;
    color: red;
}